// Animación Pulse
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
}

// Animación Pulse Border
@keyframes pulse-border {
    from {
        border-width: 2px;
    }
    to {
        border-width: 4px;
    }
}