// Definición de Variables para fuentes
$font-playfair: 'Playfair Display', serif;
$font-geologica: 'Geologica', sans-serif;

// Definición de variables para colores
$color-verde: #283a2c;
$color-naranja: #fc6202;
$color-blanco: #ffffff;
$color-verdoso: #d9ddc6;
$color-grisaceo: #f0efeb;
$color-antique: antiquewhite;
$color-negro: black;
$color-gris: gray;

// Definición de variables para breakpoints
// Máximos
$bpointmax-xsmall: 378px;
$bpointmax-small: 576px;
$bpointmax-medium: 768px;
$bpointmax-large: 992px;
$bpointmax-xlarge: 1200px;
$bpointmax-xxlarge: 1400px;
// Mínimos
$bpointmin-xsmall: 379px;
$bpointmin-small: 577px;
$bpointmin-medium: 769px;
$bpointmin-large: 993px;
$bpointmin-xlarge: 1201px;
$bpointmin-xxlarge: 1401px;
