/*Inicio Estilos Sección Contacta un Asesor*/
.seccion-contacta-asesor {
    background-color: $color-verdoso;
    height: 30rem;
    @include flex(null, center, null, wrap);
    @media screen and (max-width: 999px) {
            height: auto;
        }
    .seccion-contacta-container {
        @include flex(null, null, center, wrap);
        gap: 5rem;
        margin: 0 3rem;
        @media screen and (max-width: 999px) {
                @include flex(column, center, null, null);
                gap: 2rem;
                margin: 5rem;
            }
        .contacta-asesor-container {
            @include flex(column, center, null, null);
            text-align: left;
            @media screen and (max-width: 999px) {
                    justify-content: center;
                    text-align: center;
            }
            h3 {
                font-size: 2rem;
                font-weight: 200;
                color: $color-verde;
            }
            p {
                font-size: 1rem;
                font-weight: 100;
                color: $color-verde;
            }
        }
        .llamanos-container {
            @include flex(column, center, center, null);
            text-align: center;
            p {
                font-family: $font-playfair;
                font-size: 1.2rem;
                font-weight: 200;
                color: $color-verde;
                margin: 0;
                &:last-child {
                    font-size: 2rem;
                    font-weight: 400;
                }
            }
            img{
                width: 50px;
                height: 50px;
                margin-bottom: .5rem;
            }    
        }
        .escribinos-container {
            @include flex(column, null, center, null);
            text-align: center;
            p {
                font-family:$font-playfair;
                font-size: 1.2rem;
                font-weight: 200;
                color: $color-verde;
            }
        }
    }   
}
/*Fin Estilos Sección Contacta un Asesor*/